@using Identity.Models
@model IEnumerable<Identity.Models.TaxiOffer>
@{
    ViewBag.Title = "Мои предложения";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name </td>
            <td>
                <a class="btn btn-default" data-toggle="tooltip" title="Подробнее" data-placement="top" asp-action="DetailsTaxiOffer" asp-controller="Offer" asp-route-id="@item.Id"><span class="glyphicon glyphicon-info-sign"></span></a>
                <a class="btn btn-default" data-toggle="tooltip" title="Изменить" data-placement="top" asp-action="EditTaxiOffer" asp-controller="Offer" asp-route-id="@item.Id"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-default" data-toggle="tooltip" title="Удалить" data-placement="top" asp-action="DeleteTaxiOffer" asp-controller="Offer" asp-route-id="@item.Id"><span class="glyphicon glyphicon-remove"></span> </a>
            </td>
        </tr>
    }
</table>