@using Identity.Models
@model Identity.Models.TaxiOffer
@{
    ViewBag.Title = Model.Name;
}
<h2>Водитель @Model.Name</h2> <a class="btn btn-default" asp-action="CreateTaxiOrderToConcreateDriver" asp-controller="Order" asp-route-receiverId="@Model.OfferOwnerId">Заказ выполнен </a>
<div>
    <dl class="dl-horizontal">
        <dt>Автомобиль</dt>
        <dd>@Model.Auto</dd>
        <dt>Местоположение</dt>
        <dt>Цена</dt>
        <dd>@Model.Price</dd>
        <dt>Статус</dt>
        <dd>@Model.OfferStatus</dd>
    </dl>
</div>